#main_content {
  margin: 50px 140px;
}

#card {
  color: white;
  background-color: rgb(148, 148, 148);
  padding: 10px 10px 5px;
}

#rec_section {
  background-color: rgb(78, 78, 78);
  padding: 1px 30px 30px;
}

.rec {
  color: white;
  margin-top: 30px;
  background-color: rgb(44, 44, 44);
  padding: 20px;
}