#main_content {
  margin: 60px 40px;
}

#games_section {
  background-color: rgb(78, 78, 78);
}

.categorias {
  display: block;
  width: 93%;
  height: 40px;
  margin-bottom: 10px;
  color: white;
  border: 1px solid rgb(61, 61, 61);
  background-color: rgb(78, 78, 78);;
}

.categorias:hover {
  background-color: rgb(100, 100, 100);;
}

.persona {
  width: 200px;
}

#card {
  background-color: rgb(53, 53, 53);
  margin: 20px
}

.card_content {
  margin: 10px;
  color: white;
}

.game_rate {
  width: 120px;
}