.title {
  margin-top: 40px;
}

.title h1 {
  font-size: 55px;
}

.rpg_mesa_content {
  margin: 30px 110px;
  padding: 50px 40px;
  background-color: rgb(78, 78, 78);
  color: white;
}

.imagem_rpg_mesa {
  width: 190px;
}

.imagem_centro {
  width: 600px
}

.btn-comece-aqui {
  color: white;
  padding: 7px 20px 0;
  margin: 40px 0 0 120px;
  border: 1px solid transparent;
  height: 45px;
  text-decoration: none;
  background-color: rgb(104, 104, 104);
  cursor: pointer;
}

.btn-comece-aqui:hover {
  color: white;
  background-color: rgb(133, 133, 133);
  border: 1px solid transparent;
  text-decoration: none;
}