.title {
  margin-top: 40px;
}

.title h1 {
  font-size: 55px;
}

.rpg_mesa_content {
  margin: 30px 110px;
  padding: 50px 40px;
  background-color: rgb(78, 78, 78);
  color: white;
}

.imagem_rpg_mesa {
  width: 190px;
}

.imagem_centro {
  width: 600px
}